
    .footer-subscribe{
        justify-content: center;
        background-color:rgb(247, 247, 247);
        display: flex;
        font-family:OpenSans-Regular;
        line-height:18.4px;
        justify-content: center;
        .footer-subscribe-container{
            box-sizing:border-box;
            display:flex;
            font-family:OpenSans-Regular;
            line-height:18.4px;
            margin-bottom:0px;
            margin-left:0px;
            margin-right:0px;
            margin-top:0px;
            // max-width:1210px;
            // min-width:1024px;
            padding-bottom:24px;
            padding-left:10px;
            padding-right:10px;
            padding-top:24px;
            position:relative;
            text-size-adjust:100%;
            .subscribe{
                box-sizing:border-box;
                display:block;
                flex-basis:0%;
                flex-grow:1;
                flex-shrink:1;
                font-family:OpenSans-Regular;
                // line-height:18.4px;
                // text-size-adjust:100%;
                -webkit-box-flex:1;
                margin-right: 20px;
                .subscribe-title{
                    box-sizing:border-box;
                    color:rgb(53, 64, 90);
                    display:block;
                    font-family:OpenSans-SemiBold, Arial, Helvetica, sans-serif;
                    font-size:18px;
                    line-height:27px;
                    margin-bottom:4px;
                    text-size-adjust:100%;
                }
            }
            .input-button{
                box-sizing:border-box;
                display:block;
                font-family:OpenSans-Regular;
                line-height:18.4px;
                text-size-adjust:100%;
                .subscribe{
                    box-sizing:border-box;
                    display:block;
                    flex-basis:0%;
                    flex-grow:1;
                    flex-shrink:1;
                    font-family:OpenSans-Regular;
                    line-height:18.4px;
                    text-size-adjust:100%;
                    -webkit-box-flex:1;
                    input{
                        background-color:rgb(255, 255, 255);
                        border-bottom-color:rgb(198, 203, 218);
                        border-bottom-left-radius:25px;
                        border-bottom-right-radius:25px;
                        border-bottom-style:solid;
                        border-bottom-width:0.989583px;
                        border-image-outset:0px;
                        border-image-repeat:stretch;
                        border-image-slice:100%;
                        border-image-source:none;
                        border-image-width:1;
                        border-left-color:rgb(198, 203, 218);
                        border-left-style:solid;
                        border-left-width:0.989583px;
                        border-right-color:rgb(198, 203, 218);
                        border-right-style:solid;
                        border-right-width:0.989583px;
                        border-top-color:rgb(198, 203, 218);
                        border-top-left-radius:25px;
                        border-top-right-radius:25px;
                        border-top-style:solid;
                        border-top-width:0.989583px;
                        box-sizing:border-box;
                        cursor:text;
                        display:inline-block;
                        font-family:sans-serif;
                        font-size:16px;
                        font-stretch:100%;
                        font-style:normal;
                        font-variant-caps:normal;
                        font-variant-east-asian:normal;
                        font-variant-ligatures:normal;
                        font-variant-numeric:normal;
                        font-weight:400;
                        height:44.2969px;
                        letter-spacing:normal;
                        line-height:18.4px;
                        margin-bottom:0px;
                        margin-left:0px;
                        margin-right:16px;
                        margin-top:0px;
                        outline-style:none;
                        outline-width:0px;
                        overflow-x:visible;
                        overflow-y:visible;
                        padding-bottom:12px;
                        padding-left:24px;
                        padding-right:24px;
                        padding-top:12px;
                        text-align:start;
                        text-indent:0px;
                        text-rendering:auto;
                        text-shadow:none;
                        text-size-adjust:100%;
                        text-transform:none;
                        width:333.997px;
                        word-spacing:0px;
                        writing-mode:horizontal-tb;
                        -webkit-appearance:none;
                        -webkit-rtl-ordering:logical;
                    }
                    button{
                        align-items:flex-start;
                        background-attachment:scroll;
                        background-clip:border-box;
                        background-color:rgb(254, 221, 0);
                        background-image:none;
                        background-origin:padding-box;
                        background-position-x:0%;
                        background-position-y:0%;
                        background-size:auto;
                        border-bottom-color:rgb(0, 100, 210);
                        border-bottom-left-radius:25px;
                        border-bottom-right-radius:25px;
                        border-bottom-style:none;
                        border-bottom-width:0px;
                        border-image-outset:0px;
                        border-image-repeat:stretch;
                        border-image-slice:100%;
                        border-image-source:none;
                        border-image-width:1;
                        border-left-color:rgb(0, 100, 210);
                        border-left-style:none;
                        border-left-width:0px;
                        border-right-color:rgb(0, 100, 210);
                        border-right-style:none;
                        border-right-width:0px;
                        border-top-color:rgb(0, 100, 210);
                        border-top-left-radius:25px;
                        border-top-right-radius:25px;
                        border-top-style:none;
                        border-top-width:0px;
                        box-sizing:border-box;
                        color:rgb(0, 100, 210);
                        cursor:pointer;
                        display:inline-block;
                        font-family:OpenSans-SemiBold, Arial, Helvetica, sans-serif;
                        font-size:16px;
                        font-stretch:100%;
                        font-style:normal;
                        font-variant-caps:normal;
                        font-variant-east-asian:normal;
                        font-variant-ligatures:normal;
                        font-variant-numeric:normal;
                        font-weight:400;
                        height:42.3177px;
                        letter-spacing:normal;
                        line-height:18.4px;
                        margin-bottom:0px;
                        margin-left:0px;
                        margin-right:0px;
                        margin-top:0px;
                        outline-color:rgb(0, 100, 210);
                        outline-style:none;
                        outline-width:0px;
                        overflow-x:visible;
                        overflow-y:visible;
                        padding-bottom:12px;
                        padding-left:24px;
                        padding-right:24px;
                        padding-top:12px;
                        text-align:center;
                        text-indent:0px;
                        text-rendering:auto;
                        text-shadow:none;
                        text-size-adjust:100%;
                        text-transform:uppercase;
                        width:178.958px;
                        word-spacing:0px;
                        writing-mode:horizontal-tb;
                        -webkit-appearance:none;
                    }
                }
            }
        }  
    }
    .footer-content{
        background-color:rgb(255, 255, 255);
        border-bottom-color:rgb(247, 247, 247);
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-top-color:rgb(247, 247, 247);
        border-top-style:solid;
        border-top-width:1px;
        box-sizing:border-box;
        font-family:OpenSans-Regular;
        line-height:18.4px;
        text-size-adjust:100%;
        .footer-content-container{
            align-items:normal;
            box-sizing:border-box;
            display:flex;
            font-family:OpenSans-Regular;
            line-height:18.4px;
            margin-bottom:0px;
            margin-left:0px;
            margin-right:0px;
            margin-top:0px;
            // max-width:1200px;
            // min-width:1024px;
            padding-bottom:45px;
            padding-left:10px;
            padding-right:10px;
            padding-top:45px;
            position:relative;
            -webkit-box-align:stretch;
            .contact-us{
                box-sizing:border-box;
                display:block;
                font-family:OpenSans-Regular;
                line-height:18.4px;
                min-width:320px;
                text-size-adjust:100%;
                justify-content: center;
                .tiket-logo{
                    box-sizing:border-box;
                    display:block;
                    font-family:OpenSans-Regular;
                    line-height:18.4px;
                    margin-bottom:29px;
                    max-width:182px;
                    text-size-adjust:100%;
                    img{
                        border-bottom-style:none;
                        border-left-style:none;
                        border-right-style:none;
                        border-top-style:none;
                        box-sizing:border-box;
                        display:block;
                        font-family:OpenSans-Regular;
                        line-height:18.4px;
                        max-height:100%;
                        max-width:100%;
                        text-size-adjust:100%;
                    }
                }
                .contact-us-content{
                    box-sizing:border-box;
                    display:block;
                    font-family:OpenSans-Regular;
                    line-height:18.4px;
                    text-size-adjust:100%;
                    margin-bottom: 20px;
                    span.icon-image{
                        box-sizing:border-box;
                        display:inline-block;
                        font-family:OpenSans-Regular;
                        height:40px;
                        line-height:18.4px;
                        margin-right:12px;
                        text-size-adjust:100%;
                        vertical-align:middle;
                        width:40px;
                        img{
                            border-bottom-style:none;
                            border-left-style:none;
                            border-right-style:none;
                            border-top-style:none;
                            box-sizing:border-box;
                            display:block;
                            font-family:OpenSans-Regular;
                            line-height:18.4px;
                            max-height:100%;
                            max-width:100%;
                            text-size-adjust:100%;
                        }
                    }
                    .contact-us-phone{
                        box-sizing:border-box;
                        display:inline-block;
                        font-family:OpenSans-Regular;
                        font-size:14px;
                        line-height:19px;
                        text-size-adjust:100%;
                        vertical-align:middle;
                        span.content-grey{
                            box-sizing:border-box;
                            color:rgb(88, 98, 122);
                            display:inline-block;
                            font-family:OpenSans-Regular;
                            font-size:14px;
                            line-height:19px;
                            text-size-adjust:100%;
                        }
                    }
                }
            }
            .footer-list{
                box-sizing:border-box;
                display:block;
                flex-basis:0%;
                flex-grow:1;
                flex-shrink:1;
                font-family:OpenSans-Regular;
                text-size-adjust:100%;
                -webkit-box-flex:1;
                .footer-list-title{
                    box-sizing:border-box;
                    color:rgb(53, 64, 90);
                    font-family:OpenSans-SemiBold;
                    font-size:16px;
                    line-height:39px;
                    margin-bottom:29px;
                    text-size-adjust:100%;
                    vertical-align:middle;
                }
                .footer-list-contents{
                    .footer-list-content{
                        a{
                            background-color:rgba(0, 0, 0, 0);
                            box-sizing:border-box;
                            color:rgb(88, 98, 122);
                            cursor:pointer;
                            display:inline-block;
                            font-family:OpenSans-Regular;
                            font-size:14px;
                            line-height:30px;
                            outline-color:rgb(88, 98, 122);
                            outline-style:none;
                            outline-width:0px;
                            text-decoration-color:rgb(88, 98, 122);
                            text-decoration-line:none;
                            text-decoration-style:solid;
                            text-size-adjust:100%;
                            vertical-align:middle;
                            &:hover{
                                color:royalblue
                            }
                        }
                    }
                    .footer-list-image{
                        box-sizing:border-box;
                        display:block;
                        font-family:OpenSans-Regular;
                        line-height:18.4px;
                        text-size-adjust:100%;
                        margin-bottom: 10px;
                        a{
                            img{
                                border-bottom-style:none;
                                border-left-style:none;
                                border-right-style:none;
                                border-top-style:none;
                                box-sizing:border-box;
                                color:rgb(88, 98, 122);
                                cursor:pointer;
                                display:block;
                                font-family:OpenSans-Regular;
                                font-size:14px;
                                height:56px;
                                line-height:30px;
                                max-height:100%;
                                max-width:100%;
                                text-size-adjust:100%;
                                width:188px;
                            }
                        }
                    }
                }
            }
        }
        .footer-content-container-bottom{
            align-items:center;
            box-sizing:border-box;
            display:flex;
            font-family:OpenSans-Regular;
            line-height:18.4px;
            margin-bottom:0px;
            margin-left:0px;
            margin-right:0px;
            margin-top:0px;
            padding-bottom:45px;
            padding-left:10px;
            padding-right:10px;
            padding-top:45px;
            position:relative;
            text-size-adjust:100%;
            -webkit-box-align:center;
            .wonderful-indonesia{
                box-sizing:border-box;
                display:block;
                font-family:OpenSans-Regular;
                line-height:18.4px;
                min-width:320px;
                // text-size-adjust:100%;
                .wonderful-indonesia-image{
                    box-sizing:border-box;
                    display:inline-block;
                    font-family:OpenSans-Regular;
                    line-height:54px;
                    text-size-adjust:100%;
                    vertical-align:middle;
                    img{
                        border-bottom-style:none;
                        border-left-style:none;
                        border-right-style:none;
                        border-top-style:none;
                        box-sizing:border-box;
                        display:block;
                        font-family:OpenSans-Regular;
                        height:54px;
                        line-height:54px;
                        max-height:100%;
                        max-width:100%;
                        text-size-adjust:100%;
                    }
                }
                .wonderful-indonesia-content{
                    box-sizing:border-box;
                    color:rgb(88, 98, 122);
                    display:inline-block;
                    font-family:OpenSans-Regular;
                    font-size:12px;
                    line-height:15px;
                    margin-left:8px;
                    text-size-adjust:100%;
                    vertical-align:middle;
                }
            }
            .secure-transaction{
                align-self:start;
                box-sizing:border-box;
                display:block;
                font-family:OpenSans-Regular;
                // line-height:108px;
                text-size-adjust:100%;
                .footer-bottom-title{
                    box-sizing:border-box;
                    color:rgb(53, 64, 90);
                    display:block;
                    font-family:OpenSans-SemiBold;
                    font-size:16px;
                    height:54px;
                    line-height:54px;
                    text-size-adjust:100%;
                    // width:395px;
                }
                .secure-transaction-content{
                    box-sizing:border-box;
                    display:block;
                    font-family:OpenSans-Regular;
                    line-height:54px;
                    text-size-adjust:100%;
                    img{
                        margin-right: 10px;
                        box-sizing:border-box;
                        display:inline-block;
                        font-family:OpenSans-Regular;
                        height:27px;
                        line-height:27px;
                        max-height:100%;
                        max-width:100%;
                        text-size-adjust:100%;
                        vertical-align:middle;
                    }
                }
            }
            .awards{
                align-self:start;
                box-sizing:border-box;
                display:block;
                font-family:OpenSans-Regular;
                height:108px;
                line-height:108px;
                text-size-adjust:100%;
                width:197.5px;
                .footer-bottom-title{
                    box-sizing:border-box;
                    color:rgb(53, 64, 90);
                    display:block;
                    font-family:OpenSans-SemiBold;
                    font-size:16px;
                    line-height:54px;
                    text-size-adjust:100%;
                }
                .brand-list{
                    box-sizing:border-box;  
                    display:block;
                    font-family:OpenSans-Regular;
                    line-height:54px;
                    text-size-adjust:100%;
                    img{
                        margin-right: 10px;
                        display:inline-block;
                        font-family:OpenSans-Regular;
                        height:31px;
                        line-height:31px;
                        max-height:100%;
                        max-width:48px;
                        text-size-adjust:100%;
                        vertical-align:middle;
                    }
                }
            }
            .follow-us{
                align-self:start;
                box-sizing:border-box;  
                display:block;
                font-family:OpenSans-Regular;
                line-height:108px;
                text-size-adjust:100%;
                .footer-bottom-title{
                    box-sizing:border-box;
                    color:rgb(53, 64, 90);
                    display:block;
                    font-family:OpenSans-SemiBold;
                    font-size:16px;
                    line-height:54px;
                    text-size-adjust:100%;
                }
                .footer-follow-us-content{
                    box-sizing:border-box;     
                    display:block;
                    font-family:OpenSans-Regular;
                    line-height:54px;
                    text-size-adjust:100%;
                    a{
                        margin-right: 10px;
                        background-color:rgb(198, 203, 218);
                        border-bottom-left-radius:8px;
                        border-bottom-right-radius:8px;
                        border-top-left-radius:8px;
                        border-top-right-radius:8px;
                        box-sizing:border-box;
                        cursor:pointer;
                        display:inline-block;
                        font-family:OpenSans-Regular;
                        height:31px;
                        line-height:31px;
                        outline-style:none;
                        outline-width:0px;
                        position:relative;
                        text-decoration-line:none;
                        text-decoration-style:solid;
                        text-size-adjust:100%;
                        vertical-align:middle;
                        width:31px;
                        i{
                            bottom:-1px;
                            box-sizing:border-box;
                            color:rgb(255, 255, 255);
                            cursor:pointer;
                            display:block;
                            font-family:tix-icon;
                            font-feature-settings:normal;
                            font-size:25px;
                            font-style:normal;
                            font-variant-caps:normal;
                            font-variant-east-asian:normal;
                            font-variant-ligatures:normal;
                            font-variant-numeric:normal;
                            font-weight:400;
                            height:25px;
                            line-height:normal;
                            position:absolute;
                            right:0px;
                            text-align:center;
                            text-size-adjust:100%;
                            text-transform:none;
                            width:25px;
                            -webkit-font-smoothing:antialiased;
                        }
                    }
                }
            }
        }
    }
    .footer-copyright{
        background-color:rgb(255, 255, 255);
        color:rgb(53, 64, 90);
        font-family:OpenSans-Regular;
        font-size:14px;
        padding-bottom:30px;
        padding-left:0px;
        padding-right:0px;
        padding-top:30px;
        text-align:center;
        img{
            box-sizing:border-box;
            color:rgb(53, 64, 90);
            font-family:OpenSans-Regular;
            font-size:14px;
            height:22.5px;
            line-height:16.1px;
            margin-right:12.5px;
            max-height:100%;
            max-width:100%;
            text-align:center;
            vertical-align:middle;
            width:146.5px;
        }
    }
