<div class="a">
  <h1>ADMIN PAGE</h1>
</div>
<div class="a">
  <button [routerLink]="['/admin/manageevent']" routerLinkActive="router-link-active" >MANAGE ENTERTAINMENT</button>
</div>
<div class="a">
  <button [routerLink]="['/admin/manageaeroplane']" routerLinkActive="router-link-active">MANAGE FLIGHT</button>
</div>
<div class="a">
  <button [routerLink]="['/admin/manageblog']" routerLinkActive="router-link-active">MANAGE BLOG</button>
</div>
<div class="a">
  <button [routerLink]="['/admin/managetrain']" routerLinkActive="router-link-active">MANAGE TRAIN</button>
</div>
<div class="a">
  <button [routerLink]="['/admin/managehotel']" routerLinkActive="router-link-active">MANAGE HOTEL</button>
</div>
