.a{
  display: flex;
  justify-content: center;
  margin: 3%;
  button{
    border-radius: 40px;
    background-color: yellow;
    width: 100%;
    height: 5vw;
    border:none;
    padding-left: 10%;
    padding-right: 10%;

}
}
