<div>
    CREATE AEROPLANE
</div>
<div>
    <input type="text" name="aName" placeholder="Aeroplane Name" [(ngModel)]="aName">
</div>
<div>
    <input type="text" name="aCompany" placeholder="Aeroplane Class" [(ngModel)]="aCompany">
</div>
<div>
    <input type="text" name="aType" placeholder="Aeroplane Type" [(ngModel)]="aType">
</div>
<div>
    <input type="text" name="aImage_path" placeholder="Aeroplane Icon" [(ngModel)]="aImage_path">
</div>
<div>
    Aeroplane Depart Date
</div>
<div>
    <input type="date" name="aDepart_date" placeholder="Aeroplane Depart Date" [(ngModel)]="aDepart_date">
</div>
<div>
    <input type="text" name="aDepart_time" placeholder="Aeroplane Depart Time" [(ngModel)]="aDepart_time">
</div>
<div>
    <input type="text" name="aDepart_location" placeholder="Aeroplane Depart Location" [(ngModel)]="aDepart_location">
</div>
<div>
    Aeroplane Arrive Date
</div>
<div>
    <input type="date" name="aArrive_date" placeholder="Aeroplane Arrive Date" [(ngModel)]="aArrive_date">
</div>
<div>
    <input type="text" name="aArrive_time" placeholder="Aeroplane Arrive Time" [(ngModel)]="aArrive_time">
</div>
<div>
    <input type="text" name="aArrive_location" placeholder="Aeroplane Arrive Location" [(ngModel)]="aArrive_location">
</div>
<div>
    <input type="text" name="aDuration" placeholder="Aeroplane Duration Time" [(ngModel)]="aDuration">
</div>
<div>
    <input type="text" name="aPrice" placeholder="Aeroplane Price" [(ngModel)]="aPrice">
</div>
<div>
    <input type="text" name="aPrice_raw" placeholder="Aeroplane Price Raw" [(ngModel)]="aPrice_raw">
</div>
<div>
    <input type="text" name="aPrice_tax" placeholder="Aeroplane Price Tax" [(ngModel)]="aPrice_tax">
</div>
<div>
    <input type="text" name="aTransit" placeholder="Aeroplane Transit" [(ngModel)]="aTransit">
</div>
<div>
    <input type="text" name="aTransit_duration" placeholder="Aeroplane Transit Duration" [(ngModel)]="aTransit_duration">
</div>
<div>
    <input type="text" name="aFacilities" placeholder="Aeroplane Facilities" [(ngModel)]="aFacilities">
</div>

<div>
    <button (click)="updateData()">UPDATE AEROPLANE</button>
</div>