<div class="linear-background" *ngIf="loaded == false">

</div>

<div class="xxx" *ngIf="loaded == true">
	<div class="thumb" *ngFor="let hotel of hotelData">
		<mat-card class="example-card" *ngIf="hotel.hotel_id < 9">
			<img mat-card-image src="{{hotel.hotel_image_path}}" alt="Photo of a Shiba Inu">
			<mat-card-content>
				<abbr title="{{hotel.hotel_name}}">
					<p>
						{{hotel.hotel_name}}
					</p>
				</abbr>
			</mat-card-content>
		</mat-card>
	</div>
</div>

    <div class="feature">
        <div class="container">
            <div class="feature-box">
                <div class="list-image">
                    <div class="feature-image">
                        <img alt="Simple Profile" src="https://www.tiket.com/home-ms/assets/25a69c26.svg">
                    </div>
                    <div class="feature-info">
                        <p class="title">Simple Profile</p>
                        <p class="subtitle">Pesan lebih cepat, isi data penumpang<br>dengan sekali klik.</p>
                    </div>
                </div>
                <div class="list-image">
                    <div class="feature-image">
                        <img alt="Simple Reschedule" src="https://www.tiket.com/home-ms/assets/29fbfd3b.svg">
                    </div>
                    <div class="feature-info">
                        <p class="title">Simple Reschedule</p>
                        <p class="subtitle">Memudahkan kamu mengatur ulang<br>penerbangan.</p>
                    </div>
                </div>
                <br>
                <div class="list-image">
                    <div class="feature-image">
                        <img alt="Simple Booking Process" src="https://www.tiket.com/home-ms/assets/fc5f0f97.svg">
                    </div>
                    <div class="feature-info">
                        <p class="title">Simple Booking Process</p>
                        <p class="subtitle">Pemesanan tanpa ribet di mana pun dan<br>kapan pun.</p>
                    </div>
                </div>
                <div class="list-image">
                    <div class="feature-image">
                        <img alt="Simple Refund" src="https://www.tiket.com/home-ms/assets/7d1808db.svg">
                    </div>
                    <div class="feature-info">
                        <p class="title">Simple Refund</p>
                        <p class="subtitle">Refund tiket tanpa ribet dari aplikasi<br>maupun website.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loyalty">
        <div class="loyalty-spot">
            <div class="container">
                <div class="head">
                    <h3><span>TIX Benefit</span></h3>
                    <div><span>Nikmati Berbagai Penawaran Eksklusif di tiket.com</span></div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="https://www.tiket.com/tix/merchant/91" target="_blank" rel="">
                            <img src="https://static.tiket.photos/image/upload/v1569917470/home/2019/10/01/e621220b-7e8e-42fb-ae72-2e3e17b8c729-1569917468653-1b6acefa65dfe6302ddee05c9060eb30.jpg" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://www.tiket.com/tix/merchant/88" target="_blank" rel="noreferrer noopener" data-click="">
                            <img src="https://static.tiket.photos/image/upload/v1572838078/home/2019/11/04/f18bc397-7a03-4ca0-bf8a-dcd6eb404485-1572838077085-fae01b851995539e22caf1c7f486c656.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="more-button">
                </div>
            </div>
        </div>
    </div>
    <div class="as-simple-as-ticket"></div>
    <div class="easy-simple-installment"></div>
    <div class="partner-of-ticket"></div>

