<div>
    CREATE TRAIN
</div>
<div>
    <input type="text" name="tName" placeholder="Train Name" [(ngModel)]="tName">
</div>
<div>
    <input type="text" name="tClasses" placeholder="Train Class" [(ngModel)]="tClasses">
</div>
<div>
    <input type="text" name="tType" placeholder="Train Type" [(ngModel)]="tType">
</div>
<div>
    <input type="text" name="tDepart_time" placeholder="Train Depart Time" [(ngModel)]="tDepart_time">
</div>
<div>
    <input type="text" name="tDepart_location" placeholder="Train Depart Location" [(ngModel)]="tDepart_location">
</div>
<div>
    <input type="text" name="tArrive_time" placeholder="Train Arrive Time" [(ngModel)]="tArrive_time">
</div>
<div>
    <input type="text" name="tArrive_location" placeholder="Train Arrive Location" [(ngModel)]="tArrive_location">
</div>
<div>
    <input type="text" name="tDuration" placeholder="Train Duration" [(ngModel)]="tDuration">
</div>
<div>
    <input type="text" name="tDetail_price" placeholder="Train Detail Price" [(ngModel)]="tDetail_price">
</div>

<div>
    <button (click)="insertData()">CREATE TRAIN</button>
</div>