<div class="home-slider">
  <div class="slick-slider">
      <div class="slick-list">
          <div class="slick-list-content">
            <img class="slider-image"
            src="https://static.tiket.photos/image/upload/v1574663480/tix-hotel/images-web/2019/11/25/41bcff68-f09f-49d8-8fbe-a3ca93502a41-1574663478649-d41d8cd98f00b204e9800998ecf8427e.jpg"
            alt="Promo Pesawat Domestik">
        <img class="slider-image"
            src="https://static.tiket.photos/image/upload/v1574663502/tix-hotel/images-web/2019/11/25/1ffe83b2-c3d6-4f08-a3d1-eef47a6d2ec2-1574663500635-d41d8cd98f00b204e9800998ecf8427e.jpg"
            alt="Promo Gajian Hotel ">
        <img class="slider-image"
            src="https://static.tiket.photos/image/upload/v1574663477/tix-hotel/images-web/2019/11/25/13a8a319-4872-46aa-97ba-7db11f6fb183-1574663475837-d41d8cd98f00b204e9800998ecf8427e.jpg"
            alt="Promo Pesawat Internasional">
        <img class="slider-image"
            src="https://static.tiket.photos/image/upload/v1574663476/tix-hotel/images-web/2019/11/25/9763ef6a-eb0c-4f54-898f-5f71ee14ca09-1574663474784-d41d8cd98f00b204e9800998ecf8427e.jpg"
            alt="Promo Hotel Internasional" (click)="openSlider()">
          </div>
      </div>
  </div>
</div>
