
    <div class="home-slider">
        <div class="slick-slider">
            <div class="slick-list">
                <div class="slick-list-content">
                    <img class="slider-image" src="https://static.tiket.photos/image/upload/v1580047398/banner/2020/01/26/1ed5aa04-1f71-4c23-91e9-bda8dd36cedc-1580047396417-1c466f3e8b20ae600ce18f6920ffb8b6.jpg" alt="Promo Pesawat Domestik">
                    <img class="slider-image" src="https://static.tiket.photos/image/upload/v1580272335/banner/2020/01/29/e26e0b73-568d-45ab-9427-a9d7ff0e9208-1580272332335-57d2ff560f9682da0efe419507544cbb.jpg" alt="Promo Gajian Hotel ">
                    <img class="slider-image" src="https://static.tiket.photos/image/upload/v1580269399/banner/2020/01/29/69fc490f-60f2-4c60-b708-de1447e73576-1580269397593-dbaa00e8ec3b2728686d5d5f4fc48197.jpg" alt="Promo Pesawat Internasional">
                    <img class="slider-image" src="https://static.tiket.photos/image/upload/v1580270386/banner/2020/01/29/bbc8fd58-357b-4d1d-b33e-f86c6f22216d-1580270382903-cc5f9615d99fd25b5e579f81e74b9c71.jpg" alt="Promo Hotel Internasional">
                </div>
            </div>
        </div>
    </div>
