$themeColor : rgb(0, 100, 210);
$colGreen : #4CB04E;
    // height:100px;
    .home-slider{
        background-color:$themeColor;
        // height: 200%;
        // margin-bottom:-60px;
        // padding-bottom:55px;
        padding-left: 15%;
        padding-right: 15%;
        .slick-slider{
            overflow: hidden;
            text-align: center;
            .slick-list{
                position: relative;
                width: 400%;
                margin: 0;
                left: 0;
                // animation: 20s slick-list infinite;   
                .slick-list-content{
                    display: flex;
                    position: relative;
                    transition: left 2s;
                    -webkit-transition: left 2s;
                    -moz-transition: left 2s;
                    -o-transition: left 2s;
                    animation: 20s slick-list infinite;
                    img{
                        display: flex;
                        float: left;
                        margin: 0px;
                        padding: 0px;
                        width: 100%;
                        height: 100%;
                    }
                }  
                @keyframes slick-list {
                    0%{
                        left:0;
                    }
                    20%{
                        left:0;
                    }
                    25%{
                        left:-25%;
                    }
                    45%{
                        left:-25%;
                    }
                    50%{
                        left: -50%;
                    }
                    70%{
                        left: -50%;
                    }
                    75%{
                        left: -75%;
                    }
                    95%{
                        left: -75%;
                    }
                }         
            }
            .slick-next{
                background-image:url(https://www.tiket.com/assets_version/cardamom/dist/images/right.png);
                background-origin:padding-box;
                background-position-x:0%;
                background-position-y:0%;
                background-size:50%;
                border-bottom-color:rgba(0, 0, 0, 0);
                border-bottom-style:none;
                border-bottom-width:0px;
                border-image-outset:0px;
                border-image-repeat:stretch;
                border-image-slice:100%;
                border-image-source:none;
                border-image-width:1;
                border-left-color:rgba(0, 0, 0, 0);
                border-left-style:none;
                border-left-width:0px;
                border-right-color:rgba(0, 0, 0, 0);
                border-right-style:none;
                border-right-width:0px;
                border-top-color:rgba(0, 0, 0, 0);
                border-top-style:none;
                border-top-width:0px;
                box-sizing:border-box;
                color:rgba(0, 0, 0, 0);
                cursor:pointer;
                font-family:OpenSans-Regular;
                font-size:0px;
                height:39px;
                line-height:0px;
                outline-color:rgba(0, 0, 0, 0);
                outline-style:none;
                outline-width:0px;
                padding-bottom:0px;
                padding-left:0px;
                padding-right:0px;
                padding-top:0px;
                position:absolute;
                right:82.5556px;
                text-size-adjust:100%;
                top:151.5px;
                transform:matrix(1, 0, 0, 1, 0, -19.5556);
                user-select:none;
                vertical-align:middle;
                width:30px;        
            }
        }
    }
    
    .product-widget{
        margin: 1%;
        border-bottom-left-radius:8px;
        border-bottom-right-radius:8px;
        border-top-left-radius:8px;
        border-top-right-radius:8px;
        box-shadow:rgba(53, 64, 90, 0.2) 0px 10px 20px 0px;
        display:block;
        font-family:OpenSans-Regular;
        margin-bottom:0px;
        outline-color:rgb(0, 0, 0);
        outline-style:none;
        outline-width:0px;
        text-size-adjust:100%;
        height: 40%;
    }
    .product-form{
        .product-form-header-group{
            .product-form-header-top{
                display: flex;
                padding-left: 5%;
                padding-right: 5%;
                padding-top: 2%;
                span.product-form-subtitle{
                    margin-right: 60%;;
                    font-size: 20px;
                    display:inline-block;
                    vertical-align:baseline;
                    margin-bottom: 2%;
                }
                
            }
            .product-form-header-bottom{
                padding-left: 5%;
                padding-right: 5%;
                display: flex;
                margin-top: 2%;
                margin-bottom: 2%;
                .product-form-flight-type{
                    margin-right: 2%;
                }
            }
        }
        .product-form-search-group{
            display: flex;
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
            height: 100%;
            width: 100%;
            padding-top: 1%;
            padding-bottom: 1%;
            .widget-date-input-group-container{
                margin-right: 3%;
                padding-left: 5%;
                .widget-input-container{
                    .product-search-input-container{
                        input{
                            border: none;
                            width:200%;
                            margin-top: 2%;
                        }
                        .custom-select{
                            margin-top: 2%;
                            #pkabin{
                            }
                        }
                    }
                }
            }
        }
        .product-form-button-group{
            margin-top: 2%;
            margin-right: 5%;
            button{
                border-radius: 40px;
                background-color: yellow;
                width: 294px;
                height: 40px;
                border:none;
                float: right;
            }
        }
    }
    .hotel-list-container{
        background-color: #F5F6FA;
        padding: 2% 3% 2% 3%;
        display: flex;
        .hotel-list-container-left{
            background-color: white;
            padding:2%;
            border-radius: 8px;
            width: 20%;
            .hotel-list-container-left-content{
                padding:2%;
                button{
                    border-radius: 40px;
                    background-color: yellow;
                    width: 100%;
                    height: 5vw;
                    border:none;
                    
                }
                div{
                    span{
                        font-size: 10px;
                        padding-right: 20%;
                    }
                }
            }
            

        }
        .hotel-list-container-right{
            margin-left: 2%;
            display: flex;
            flex-direction: column;
            width: 80%;
            height: 100%;
            .hotel-filter-container{
                display: flex;
                justify-content: flex-end;
                .dropdown{
                    display: inline-block;
                    position: relative;
                    &:hover .dropdown-content{
                        display: block;
                    }
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: white;
                        min-width: 150px;
                        z-index: 1;
                        margin: 2%;
                        a{
                            color: black;
                            text-decoration: none;
                            display: block;
                            font-size: 15px;
                            padding: 2%;
                        }
                    }
                    label.header-username-item{
                        background-color:rgba(0, 0, 0, 0);
                        border-bottom-left-radius:14px;
                        border-bottom-right-radius:14px;
                        border-top-left-radius:14px;
                        border-top-right-radius:14px;
                        box-shadow:rgba(53, 64, 90, 0.2) 0px 2px 8px 0px;
                        box-sizing:border-box;
                        cursor:pointer;
                        display:inline-block;
                        font-family:OpenSans-SemiBold;
                        font-size:14px;
                        line-height:21px;
                        margin-left:16px;
                        outline-style:none;
                        outline-width:0px;
                        padding-bottom:4px;
                        padding-left:12px;
                        padding-right:12px;
                        padding-top:4px;
                        position:relative;
                        text-decoration-line:none;
                        text-decoration-style:solid;
                        z-index:200;
                    }
                
                }
            }
            .hotel-data-container{
                margin-top: 2%;
                background-color: white;
                border-radius: 8px;
                .hotel-data{
                    padding:2%;
                    display: flex;
                    img{
                        height: 240px;
                        width: 320px;
                        border-radius: 8px;
                    }
                    .hotel-data-content{
                        padding-left: 2%;
                        a{
                            font-size: 25px;
                            text-decoration: none;
                        }
                    }
                }
            }
            
            
        }
    }

