<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div>
    <div class="title">
      <h2>Log in/Daftar</h2>
    </div>
    <div class="subtitle">
      Perjalanan serumu dimulai disini
    </div>
    <div class="formLogin">
      <!-- <form action=""> -->
        <input type="text" name="telp" id="telp" placeholder="Nomor Ponsel atau Email" formControlName="telp" required>
        <!-- <div *ngIf="telp.invalid && (telp.dirty || telp.touched)"
        class="alert alert-danger" (click)="emptyError()">
    
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 4 characters long.
          </div>
          <div *ngIf="name.errors.forbiddenName">
            Name cannot be Bob.
          </div>
        </div> -->
        <button type="submit"mat-raised-button (click)="openDialog()">LANJUTKAN</button>
      <!-- </form> -->
    </div>
    <div class="txtCenter">
      <span>- atau dengan -</span>
    </div>
    <div class="eLogin">
      <button id="ggl" (click)="googleInit()">Google</button>
      <button id="fb">Facebook</button>
    </div>
    <div class="txtCenter">
      <span>Dengan mendaftar kamu menyetujui Kebijakan Privasi dan Syarat & Ketentuan kami.</span>
    </div>
  </div>
  
</body>
</html>