<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div>
    <div class="title">
      <h2>Log in/Daftar</h2>
    </div>
    <div class="subtitle">
      Perjalanan serumu dimulai disini
    </div>
    <div class="formLogin">
      <input type="text" name="telp" id="telp" placeholder="Nomor Ponsel atau Email" [(ngModel)]="email">
      <mat-form-field appearance="outline" id="pass">
        <input matInput  placeholder="Password" [(ngModel)]="password" [type]="hide ? 'text' : 'password'" (keyup)="onType()" required>
        <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <br>
    <br>
    <br>
      <button type="submit" (click)="login()">LANJUTKAN</button>
    </div>
    <div class="txtCenter">
      <span>- atau dengan -</span>
    </div>
    <div class="eLogin">
      <app-googlesignin></app-googlesignin>
      <app-facebooksignin></app-facebooksignin>
    </div>
    <div class="txtCenter">
      <span>Dengan mendaftar kamu menyetujui Kebijakan Privasi dan Syarat & Ketentuan kami.</span>
    </div>
  </div>

</body>
</html>
